:root {
  /* background-color */
  --dark-bg: #1f2937;
  --white-bg: white;
  --gray-bg: #e5e7eb;

  /* button color */
  --primary-btn: #3882f6;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

/* Header */
header {
  background-color: var(--dark-bg);
  color: white;
  display: flex;
  flex-direction: column;
}

#header-logo {
  margin: 0;
}

/* nav */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  gap: 8px;
  list-style-type: none;
  padding-left: 0;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-around;
}

.left-hero {
  display: flex;
  flex-direction: column;
}

#sign-up-btn {
  display: block;
}

.hero-img {
  border: 1px solid white;
  width: 200px;
}
